<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<ul>
  <li>Dashboard</li>
  <li>Landing Page
    <ul>
      <li>Top</li>
      <li>Prouct and Services</li>
      <li>Group Adavatage</li>
    </ul>
  </li>
  <li>Brokerage Brands
    <ul>
      <li>Mass Insurance</li>
      <li>Mccuaig</li>
      <li>Carson & Weeks</li>
    </ul>
  </li>
  <li>Client Tools</li>
  <li>Testimonals</li>
  <li>Group Adavatage</li>
  <li>Blog</li>
  <li>Carreers</li>

  <li>Legale
    <ul>
      <li>Privacy Policy</li>
      <li>Discalmer</li>
      <li>?</li>
    </ul>
  </li>

  <li>SEO Keywords</li>
  <li>Call Me</li>

  <li>Site Wide</li>

  <li>Users</li>


</ul>
